* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#contenedor {
 background-color: antiquewhite;
 margin: 20px;

}
#cabecera{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    margin: 20px;
    border-radius: 10px;

}
#menu{

height: auto;
background-color: #7e815b;
margin: 1em;
border-radius: 5px;
    
}
ul{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

li {

    width: var(--width-item);
}

li a{
display: block;
color: #fff;
padding: 18px 30px;
text-decoration: none;
}
li a:hover{
    background-color: #a2a57e;
}

.news-info {
padding: 0,7em;
top:-6em;
margin-bottom: -6em;
position: relative;
z-index: 1;
text-align: left;
margin: 0 auto;
max-width: 100px;
}

.cards {
display: grid;
margin: 100px;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
}

.card-info {
    padding: 1em;
    text-align: center;

}

.article {
  background-color: #171923;
  box-shadow: 0px 0px 40px rgba(0,0,0.237);
  width: auto;
  padding-bottom: 15px;
  transform: ease-in .2s;
  border-radius: 5px;

}

.article:hover{

    transform: translateY(-15px);
}

.title {

    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color:white
}
.descripcion{

    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    color:white;
}
.link {
    padding-top: 30px;
}

.new-img {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-info a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100%;
    font-size: 20px;
    color:white;
    background-color: #0060de;
    padding: 15px 35px;
    border-radius: 5px;
    text-decoration: none;
    transform: ease-in .3s;

}

.card-info a:hover{
background-color: #4e00de;
}





}

